createdAt: "2018-08-09T10:23:47.618Z"
updatedAt: "2018-08-09T10:24:25.325Z"
type: "MARKDOWN_NOTE"
folder: "10e7c27260b932f398a1"
title: "最新的3M3D?又一个即将火爆的人性测试理财游戏？ 副本"
content: '''
  最新的3M3D?又一个即将火爆的人性测试理财游戏？
  
  ---
  title: 最新的3M3D?又一个即将火爆的人性测试理财游戏？
  categories: 
  - 未分类
  ---
  
  #### 专业搭建基于以太坊智能合约的 Fomo3D [exitscam] 资金盘理财游戏，全套平台，一站解决，快速高效。
  
  
  早在上个世纪，“旁氏骗局”一词就出现在了这个社会上，当时，一个名为MMM的公司，打着“金融互助平台”的名号，搞层次传销。而在这家公司破灭了些许年头之后，有一款更加暴力、裸露的游戏出现在大众的视野当中——FOMO3D。
  
  换汤不换药的Fomo3d，在MMM基础上“突破升级”，像一部人性“三级片”，曝光在大众眼前。现在，一个基于FOMO3D与3M规则之上，号称融合双方“优势”的游戏3M3D，浮出水面。社会已经进入了赌博泛滥的状况中，这也许是人性丑恶的暴露。
  
  
  
  ![](https://0xcontract.tk/images/06/985380.png)
  
  MMM公司上线之时，仅半年时间，该公司凭借它的“金字塔”式投资返还方案，吸收了数千亿卢布的资金，其交易周转金占全俄罗斯交易周转金的一半，每天出售股票获得的收入达400亿卢布。
  
   
  
  而FOMO3D的奖金池也在五天翻了20 倍，如今奖池已经达到了2w+ETH。更可怕的是，按照这个趋势预计，那个名为3M3D的游戏，将吸收更加庞大的参与人群，导致更加严重的后果。
  
  ![](https://0xcontract.tk/images/06/985381.png)
  
  
  MMM与FOMO3D的规则，在这些游戏风靡之时，已被大家熟知。而当今出现的3M3D的规则更是简单不过，仅仅是将MMM和Fomo3D规则中最突出的特点融合而成：
  
   
  
  3M3D以一天24个小时为一个时间周期，游戏开始，24小时的倒计时也随之开始。每当有新玩家投入时，时间就会开始重置为24小时而不累加。玩家投入的eth中，85.01%被分入分红池，9.99%分入彩金池，5%用于推广奖励。
  
  从投入eth开始，玩家每天可固定得到投入额1%~3%的高分红收益，上限为30天。30天后，玩家可以直接从分红池里拿走所得的本金和分红，并且自动退出游戏。
  
  当24小时倒计时完毕时，游戏就会结束。最终，以大奖池中的所有资金以除以100倍的eth为标准，由后往前分配给相应拥有eth的玩家。也就是说，最后的幸运玩家们会获得百倍收益。
  
   
  
  可是问题来了，玩家在游戏中途若想离开，资金如何分配？分红池中的eth若不够支付玩家，该怎么解决？
  
  ![](https://0xcontract.tk/images/06/985382.png)
  
  
  3M3D有三个机制贯穿游戏始终：等待机制、中途退出机制、强制退出机制。如果分红池中的eth不够支付玩家的本金与分红，玩家将进入等待区，直到分红池中有的足够eth为止。
  
  若30天内，玩家想中途退出，需向官方转入0 ETH来提供地址以视为申请进入VIP优先通道等待退出,并从分红池中拿走相应的分红和本金，但需要支付收益中的50%用于进一步推广项目和支付转账费用;
  
  若玩家想立刻退出，仍需向官方转入0 ETH来提供地址以申请进入强制退出通道，但却只能拿走本金中的70%。
  
   
  
  3M3D游戏才刚刚开始，许多玩家已风尘仆仆赶来，毕竟这种高分红收益实在诱人：无风险+保本+高收益。且越是在前面成为玩家的人，越能够稳赚不赔！
  
  ![](https://0xcontract.tk/images/06/985383.png)
  
  在这样的利益的驱使下，玩家们蜂拥而至，迫不及待地想要成为队伍前列的“佼佼者”。即使错失了前排的“佼佼者”玩家的机会，那也许能侥幸成为最后一批人。只要进入的玩家增长人数放缓，趁此机会买进，瓜分掉彩金池里的全部ETH，何不美哉？
  
   
  
  整个规则和游戏分配听来似乎十分令人心动，殊不知游戏开发商利用了赌徒心理。当“最后一批分配”的目的成为了玩家们的目标，甚至失去理智投入更大的数额，玩家们不断地前赴后继，进入游戏玩家数量越来越多，时间链将越来越长。最终，多数玩家面临的只是海市蜃楼。这满载而去、空手而归的局面，也是正中了游戏开发商下怀。
  
   
  
  纵观整个游戏，玩家们仿佛踏入了一个圈套，一个人性试验场。幕布后，游戏开发商一边欣赏这出人性游戏，一边毫不费力地坐享了渔翁之利。
  
  
  
  ![](https://0xcontract.tk/images/06/985384.png)
  
  
  
   而到底3M3D是否只是一个噱头？经历过FOMO3D的玩家和MMM的玩家，是否还是会重新扎入人性的大染缸？这种测试人性的游戏到底还会风靡多久？3M3D的出现，或许能够成为下一个警钟。
   
   
   ### F3D资金盘游戏定制开发 联系QQ：20232 26032 
'''
tags: []
isStarred: false
isTrashed: true
